<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Calendar apps</h1>
    <%= link_to 'New calendar app', new_calendar_app_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div>
  <p><b>Location:</b> <%= @user_city %>, <%= @user_country %></p>
  <p><b>Street Address:</b> <%= @user_physical_address %></p>
  <p><b>IP Address:</b> <%= @user_ip_address %></p>
  <p><b>LatLong:</b> <%= @user_lat_long %></p>
  <br>
  <p><b>Location Data:</b> <%= @all_location.inspect %></p>
  </div>
  <div id="calendar_apps" class="min-w-full">
    <%= render @calendar_apps %>
  </div>
</div>
