<div id="<%= dom_id user_event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Event:</strong>
    <%= user_event.event_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_event.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User physical address:</strong>
    <%= user_event.user_physical_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User lat long:</strong>
    <%= user_event.user_lat_long %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User performance:</strong>
    <%= user_event.user_performance %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user event", user_event, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user event', edit_user_event_path(user_event), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
