<div id="<%= dom_id app_day %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">App calendar:</strong>
    <%= app_day.app_calendar_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">App year:</strong>
    <%= app_day.app_year_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">App month:</strong>
    <%= app_day.app_month_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Day:</strong>
    <%= app_day.day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= app_day.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this app day", app_day, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this app day', edit_app_day_path(app_day), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
