<!DOCTYPE html>
<html>
  <head>
    <title>RailsProj</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="absolute top-6 left-12">
      <p class="font-bold">Redis caching at work: technology of the second:</p>
      <% cache 'random-word', expires_in: 1.seconds do %>
        <%= %w(Redis Rails7 Ruby3 Hotwire_TurboJs StimulusJs PostgreSQL Tailwind_CSS).sample %>
      <% end %>
    </div>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
